<%= link_to 'ご予約はこちら', new_event_path %> 
<div class="edit">
  <p>予約変更、詳細確認は名前をクリックしてください</p>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <%  events.each do |event| %>
    <div>
      <%= link_to event.name, event_path(event.id) %><span>様</span>
    </div>
    <div>
      <%=  event.start_time.to_s(:time) %>
    </div>
  <% end %>
<% end %>
<%= link_to 'ログアウト画面へ', root_path%><%= link_to '管理者専用ページ',  rails_admin_path %>

  
